*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Roboto', sans-serif;
}


/* utility class */
.bg_blue{
  background: #0C325A;
}
.bg_green{
  background: #7CBB02
}
.bg_grey{
  background: #D3D3D3
}
.bg_container{
  margin: auto;
  width: 1332px;
}
/* utility class */



/* navbar */
.navbar{
  height: 80px;
  line-height: 80px;
}
.logo{
  width: 15%;
  float: left;
  margin-top: 10px;
}
.nav_right{
  width: 55%;
  float: left;
}
.nav_left{
  width: 30%;
  float: left;
  text-align: right;
}
.logo, .nav_left a, .nav_right a{
  color: white;
}
.nav_left a, .nav_right a{
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 11px;
}
.nav_right a:hover{
  color: #e3ba3c;
}
.navbar::after{
  content: "";
  display: table;
  clear: both;
}
}
.btn_special{
  border: 1px solid white;
  border-radius: 5px;
  margin-right: 20px;
  padding: 0 50px;
}
.btn{
  background-color: #7CBB02;
  padding: 5px 20px;
  border-radius: 5px;
}



/* banner */
.banner{
  height: 470px;
  width: 100%;
  background-image: url("../img/banner_header.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 115% 115%;
}
.text_banner{
  color: white;
  margin-left: 10%;
  font-weight: 500;
  margin-top: 5%;
  font-size: 50px;
}
.btn_banner{
  margin-left: 10%;
  margin-top: 50px;
}
.btn_banner a{
  color: white;
  padding: 20px 30px;
  background-color: #7CBB02;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}



/* row_1 */
.row_1{
  height: 140px;
  text-align: center;
}
.row_1 h2{
  font-size: 25px;
  font-weight: 500;
  padding-top: 40px;
}
.row_1 span{
  font-size: 18px;
  font-weight: 400;
  color: grey;
  line-height: 40px;
}



/* row_2 */
.row_2{
  height: 490px;
  background-color: white;
  width: 100%;
}
.col_1, .col_2, .col_3{
  float: left;
  width: 33.33%;
  text-align: center;
  padding: 0 25px;
}
.row_2::after{
  content: "";
  display: table;
  clear: both;
}
 .img_col{
   height: 150px;
   margin-top: 50px;
 }
.title_col{
  color: #7BBC02;
  font-size: 26px;
  padding: 25px 0;
  font-weight: 500;
}
.parag_col{
  font-size: 16px;
  color: grey;
  padding: 25px 0;
  line-height: 24px;
}
.col_1 hr, .col_2 hr, .col_3 hr{
  width: 100px;
  transform: translateX(145px);
}
.special{
  margin-bottom: 30px;
}



/* row_3 */
.col_sx{
  width: 50%;
  float: left;
}
.img_coldx{
  padding-top: 30px;
  padding-left: 60px;
  height: 520px;
}
.col_dx{
  width: 50%;
  float: left;
  margin-top: 50px;
  margin-left: 10
}
.col_dx h2{
  font-size: 32px;
  font-weight: 500;
  padding-top: 40px;
  margin-bottom: 15px;
}
.col_dx span{
  font-size: 20px;
  font-weight: 400;
  color: grey;
}
.row_3::after{
  content: "";
  display: table;
  clear: both;
  padding-bottom: 20px;
}



/* footer */
footer{
  height: 150px;
}
.footer_sx{
  width: 50%;
  float: left;
}
.footer_dx{
  width: 50%;
  float: left;
  line-height: 160px;
}
.site_footer::after{
  content: "";
  display: table;
  clear: both;
}
h3{
  width: 50%;
  text-align: left;
  line-height: 160px;
  font-size: 32px;
  font-weight: 500;
}
.selection{
  display: inline-block;
  color: grey;
}
.btn_footer a{
  color: white;
  padding: 20px 10px;
  background-color: #7CBB02;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}
.btn_footer{
padding-left: 300px;
transform: translateY(300px;)
text-align: right;
display: inline-block;
}
